      body {
        padding-top: 60px;
		background: url("../images/photo_bg.jpg") no-repeat center center fixed;
		background-size: cover;
      }
	  	  digiclock {
	font-size: 14px;
	color: #fff;
	text-align: right;
	line-height: 24px;
	padding-top: 160px;
	margin-left: right		
}