body {
    background: url("../images/photo_bg.jpg") no-repeat center center fixed;
    background-size: cover;
}


/* Typography */

.login h1#title {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 3.2em;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding-top: 160px;
    padding-bottom: 15px;
}

.login h1#title span span {
    font-weight: 400;
}

.login .card-header {
    background-color: #665851;
}

.login .card-header h2 {
    /* text-transform: uppercase; */
    color: white;
    letter-spacing: 2px;
    font-size: 1.4em;
}

#comoEstoy {
    font-size: 80.8em;
    margin: 20px 0 0;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2.8em;
}

#mensajeAlertaAviso {
    position: fixed;
    left: 25%;
    top: 100px;
    width: 50%;
    float: center;
    text-align: center;
    visibility: hidden;
}